<content-header name="Ciclo de Pagamentos" small="Cadastros">  </content-header>

<section class="content">
  <div class="nav-tabs-custom" ng-controler="BillingCycleCtrl as bcCtrl">
    <ul class="nav nav-tabs">
      <li ng-if="bcCtrl.tabList" ng-class="{active: tabList}">
          <a href data-target="#tabList" data-toggle="tab">
            <i class="fa fa-bars"> Lista
            </i>
          </a>
      </li>
      <li ng-if="bcCtrl.tabCreate">
          <a href data-target="#tabCreate" data-toggle="tab">
            <i class="fa fa-plus"> Incluir
            </i>
          </a>
      </li>
      <li ng-if="bcCtrl.tabUpdate" ng-class="{active: tabUpdate}">
          <a href data-target="#tabUpdate" data-toggle="tab">
            <i class="fa fa-pencil"> Alterar
            </i>
          </a>
      </li>
      <li ng-if="bcCtrl.tabDelete" ng-class="{active: tabDelete}">
          <a href data-target="#tabDelete" data-toggle="tab">
            <i class="fa fa-trash-o"> Excluir
            </i>
          </a>
      </li>
    </ul>

  </div>
  <div class="tab-content">
    <div class="tab-pane"
        id="tabList"
        ng-if="tabList"
        ng-class="{active: tabList}"
        ng-include="'billingCycle/list.html'"></div>
    <div class="tab-pane"
        id="tabCreate"
        ng-if="tabCreate"
        ng-include="'billingCycle/form.html'"></div>
    <div class="tab-pane"
        id="tabUpdate"
        ng-if="tabUpdate"
        ng-class="{active: tabUpdate}"
        ng-include="'billingCycle/form.html'"></div>
    <div class="tab-pane"
        id="tabDelete"
        ng-if="tabDelete"
        ng-class="{active: tabDelete}"
        ng-include="'billingCycle/form.html'"></div>
  </div>
</section>
